<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickTeam</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/todos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>QuickTeam</h1>
    </header>

    <main>
        <ul>
            <% todos.forEach( el => { %>
            
                <li class='todo-item' data-id='<%=el._id%>'>
                    <button class='todo-button <%= el.completed === true ? 'completed' : 'not'%>'></button>
                    <span class='todo <%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span class='todo-assignment'>
                        <i class="fas fa-user"></i>
                        <select class='assign-user'>
                            <% teamUsers.forEach(user => { %>
                                <% console.log(user._id) %>
                                <option value='<%= user._id %>' <%= user._id.toString() === el.assignedToId ? 'selected' : '' %>><%= user.userName %></option>
                            <% }) %>
                        </select>
                    </span>
                    <span class='delete-button fas fa-trash-alt'></span>
                </li>
            <% }) %>    
        </ul>
    </main>

    <div class="input-footer">
        <form class="create-todo" action="/todos/createTodo" method='POST'>
            <input class="todo-input" type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input class="submit" type="submit">
        </form>
        
        <h2 class="tasks-left">Hello <span style="font-weight: bold;"><%= user.userName %></span>! You have <%= left %> things left to do.</h2>
    </div>

    <footer>
        <!-- change this to share link -->
        <a href="/addSubUser/<%= user.adminId %>/<%= passKey %>">Add Sub User</a>
        <a class="logout" href="/logout">Logout</a>
    </footer>

    <script src="js/main.js"></script>
</body>
    
</html>